body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
}

h1, h2, h3, h4, strong {
  font-family: 'Open Sans', sans-serif;
}

a,  a:visited,  a:link,  .underline {
  text-decoration: none;
  border-bottom: 1px solid;
  pointer-events: auto;
  color: inherit;
  cursor: pointer;
}

 a:hover,  .underline:hover {
  border-bottom: 1px dashed;
}

.Select-menu-outer {
  max-height: 500px;
}
.Select-menu {
  max-height: 498px;
  text-align: left;
  line-height: 1.6;
}
