body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
}

h1, h2, h3, h4, strong {
  font-family: 'Open Sans', sans-serif;
}

.Select-menu-outer {
  max-height: 500px;
}
.Select-menu {
  max-height: 498px;
  text-align: left;
  line-height: 1.6;
}
